* {
    margin: 0;
    padding: 0
}

@font-face {
    font-family: ar-fonts;
    src: url(../fonts/Cairo-SemiBold.ttf)
}

body {
    direction: rtl;
    font-family: ar-fonts, sans-serif
}

header video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    z-index: -1
}

header .overlay {
    background-color: rgba(255, 255, 255, .7)
}

header .brand {
    padding-top: 40px
}

header .header-text {
    padding-top: 190px
}

header .header-text h1 {
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 46px;
    color: #555
}

header .header-text p {
    font-size: 18px;
    line-height: 32px;
    color: #5d5d5d;
    margin-bottom: 50px
}

header .product .product-img img {
    width: 100%
}

header .header-button a.btn {
    padding: 22px 55px;
    background-color: #7936b2;
    color: #fff;
    margin-left: 15px;
    border-radius: 0
}

header .header-button a.btn:last-child {
    background: transparent;
    color: #7936b2
}

header .product {
    position: relative;
    margin-bottom: 30px
}

header .product .product-label img {
    position: absolute;
    top: -50px;
    right: -50px
}

header .product .product-label p {
    position: absolute;
    top: -25px;
    right: 0;
    color: #fff;
    text-align: center;
    font-size: 24px
    
}

header .product .product-label p span {
    display: block
}

section.features {
    padding: 70px 0;
    background-color: #fff
}

section.features .features-title h2 {
    font-size: 36px;
    color: #555;
    line-height: 32px;
    padding-bottom: 45px;
    position: relative
}

section.features .features-title h2::after {
    content: "";
    width: 150px;
    height: 2px;
    background-color: #7936b2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

section.features .media-features .d-flex {
    padding: 70px 0;
    border-bottom: 3px solid #eeee
}

section.features .media-features .d-flex:nth-child(even) {
    direction: ltr
}

section.features .media-features .d-flex img {
    margin: 0 80px;
    transition: all 0.3s ease-in-out
}

section.features .media-features .d-flex img:hover {
    transform: translateY(-1%)
}

section.features .media-features .d-flex h4 {
    font-size: 36px;
    font-weight: 700;
    color: #7936b2;
    padding: 0 25px;
    margin-bottom: 50px;
    border-right: 2px solid #7936b2
}

section.features .media-features .d-flex:nth-child(even) h4 {
    border-right: 0;
    border-left: 2px solid #7936b2
}

section.features .media-features .d-flex p {
    font-size: 18px;
    line-height: 32px;
    color: #555
}

section.prices {
    padding: 50px 0 60px;
    background-color: #f7f7f7
}

section.prices .prices-text h2 {
    font-size: 30px;
    color: #555
}

section.prices .plan-card {
    background-color: #fff;
    border: 2px solid #ededed;
    padding: 15px 0;
    margin-top: 100px;
    color: #acacac
}

section.prices .plan-card span.title {
    font-size: 18px;
    color: #7936b2
}

section.prices .plan-card h5 {
    font-size: 48px;
    margin: 30px auto
}

section.prices .plan-card h5 span {
    font-size: 15px;
    vertical-align: bottom
}

section.prices .plan-card ul {
    padding: 0
}

section.prices .plan-card ul li {
    font-size: 15px;
    margin-bottom: 30px;
    list-style: none
}

section.prices .plan-card a.btn {
    border: 2px solid #7936b2;
    background-color: #fff;
    color: #7936b2;
    padding: 10px 40px;
    border-radius: 0;
    transition: all 0.3s ease-in
}

section.prices .plan-card a.btn:hover {
    background-color: #7936b2;
    color: #fff
}

section.faq {
    padding: 55px 0;
    background-color: #fff
}

section.faq .faq-title h2 {
    font-size: 30px;
    color: #555;
    margin-bottom: 55px
}

section.faq .accordion .accordion-item {
    margin-bottom: 15px;
    border: 1px solid #ebebeb;
    color: #9a9a9a;
    border-radius: 0
}

section.faq .accordion .accordion-item button {
    font-size: 18px;
    color: #555;
    border-radius: 0;
    font-weight: 700
}

section.faq .accordion .accordion-item .accordion-body {
    font-size: 15px
}

section.faq .accordion .accordion-item .accordion-button:focus {
    border: 0 !important;
    box-shadow: 0 0 0;
    background-color: #fff
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
    box-shadow: 0 0 0
}

section.video {
    min-height: 100vh;
    position: relative;
    overflow: hidden
}

section.video video {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    left: 0
}

section.video .overlay {
    background-color: rgba(129, 77, 178, .702);
    min-height: 100%;
    position: absolute;
    inset: 0
}

section.video .overlay button {
    position: absolute;
    top: 50%;
    right: 50%;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    border: 0;
    transform: translate(50%, -50%)
}

section.video .overlay button i {
    display: block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 45px auto 0
}

section.contact {
    padding: 60px 0 40px;
    background-color: #131313
}

section.contact h4 {
    font-size: 18px;
    color: #758594;
    line-height: 50px !important
}

section.contact form input,
section.contact form textarea {
    display: block;
    margin-bottom: 10px;
    border-radius: 0;
    background-color: #242424;
    font-size: 18px;
    line-height: 35px;
    color: #aeadad;
    border: none;
    text-align: right;
    width: 90%
}

section.contact form input:focus {
    background-color: #24242424
}

section.contact form textarea:focus {
    background-color: #24242424
}

section.contact form input::placeholder {
    color: #5f5f5f
}

section.contact form textarea::placeholder {
    color: #5f5f5f
}

.form-control:focus {
    color: 0 !important;
    background-color: 0 !important;
    border-color: 0 !important;
    outline: 0px !important;
    box-shadow: 0 0 0
}

section.contact form button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #7936b2;
    color: #fff;
    border: none
}

section.contact form button:hover {
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    color: #7936b2
}

section.contact form button i {
    margin-right: 15px
}

section.contact form .invalid-feedback {
    margin-top: -10px;
    margin-bottom: 15px
}

section.contact .blog a.blog-link {
    text-decoration: none
}

section.contact .blog .d-flex {
    margin-bottom: 25px
}

section.contact .blog .d-flex h5 {
    font-size: 18px;
    color: #aeadad;
    margin-bottom: 15px
}

section.contact .blog p {
    font-size: 15px;
    color: #737373;
    line-height: 20px
}

footer {
    background-color: #1d1d1d;
    padding: 25px 0
}

footer .list-inline .list-inline-item i {
    width: 40px;
    margin-left: 5px;
    height: 40px;
    line-height: 40px;
    display: block;
    color: #1d1d1d;
    background-color: #758594;
    text-align: center;
    border-radius: 50%;
    border: 2px #758594 solid;
    text-decoration: none
}

footer .list-inline .list-inline-item i:hover {
    color: #758594;
    background-color: transparent;
    transition: all 0.3s ease
}

footer .copyright p {
    font-size: 15px;
    color: #919191;
    text-align: left
}

@media (max-width:992px) {
    header .header-text {
        padding-top: 80px
    }
}

@media (max-width:768px) {
    header .overlay .product {
        margin-top: 100px
    }

    header .overlay .product .product-label img {
        right: 50%;
        transform: translateX(50%)
    }

    header .overlay .product .product-label p {
        right: 50%;
        transform: translateX(50%)
        
    }

    section.features .media-features .d-flex {
        flex-flow: column;
        text-align: center !important
    }

    section.features .media-features .d-flex img {
        margin: 0 auto 50px
    }

    section.features .media-features .d-flex h4 {
        border: none !important
    }

    section.contact h4 {
        margin-top: 25px
    }

    footer .copyright p {
        text-align: center
    }
}

@media (max-width:576px) {
    footer {
        text-align: center
    }

    footer .copyright p {
        text-align: center
    }
}